# BEN JACKANY CAPSTONE PROJECT
## FLIGHT DELAYS PREDICTIONS

![fig_03](img/fig_03.png)

### MERGING 2020 DATAFRAMES

In [27]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns
pd.set_option('display.max_columns', None)

In [5]:
df1= pd.read_csv('../Data/clean_data/2020/df_jan2020.csv')

In [6]:
df2 = pd.read_csv('../Data/clean_data/2020/df_feb2020.csv')

In [7]:
df3 = pd.read_csv('../Data/clean_data/2020/df_march2020.csv')

In [8]:
df4 = pd.read_csv('../Data/clean_data/2020/df_april2020.csv')

In [9]:
df5 = pd.read_csv('../Data/clean_data/2020/df_may2020.csv')

In [10]:
df6 = pd.read_csv('../Data/clean_data/2020/df_june2020.csv')

In [11]:
df7 = pd.read_csv('../Data/clean_data/2020/df_july2020.csv')

In [12]:
df8 = pd.read_csv('../Data/clean_data/2020/df_aug2020.csv')

In [13]:
df9 = pd.read_csv('../Data/clean_data/2020/df_sept2020.csv')

In [14]:
df10 = pd.read_csv('../Data/clean_data/2020/df_oct2020.csv')

In [15]:
df11 = pd.read_csv('../Data/clean_data/2020/df_nov2020.csv')

In [16]:
df12 = pd.read_csv('../Data/clean_data/2020/df_dec2020.csv')

In [17]:
df13 = pd.read_csv('../Data/clean_data/2021/df_jan2021.csv')

In [18]:
df14 = pd.read_csv('../Data/clean_data/2021/df_feb2021.csv')

In [19]:
df_2020 = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12])

In [38]:
#df.reset_index(drop=True, inplace=True)

In [20]:
df_2020.reset_index(drop=True, inplace=True)

In [40]:
#df_2020.to_csv('df_2020final.csv', index= False)

In [21]:
df_2020.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,...,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,CANCELLED,FLIGHTS,DISTANCE
0,2020,1,1,6,1,2020-01-06,DL,SFO,CA,California,...,0.0,0.0,-1.0,513.0,-24.0,0.0,0.0,0.0,1.0,2079.0
1,2020,1,1,6,1,2020-01-06,DL,ATL,GA,Georgia,...,0.0,0.0,-1.0,921.0,-14.0,0.0,0.0,0.0,1.0,425.0
2,2020,1,1,6,1,2020-01-06,DL,MSY,LA,Louisiana,...,3.0,0.0,0.0,1259.0,-6.0,0.0,0.0,0.0,1.0,425.0
3,2020,1,1,6,1,2020-01-06,DL,ATL,GA,Georgia,...,0.0,0.0,-1.0,1021.0,-19.0,0.0,0.0,0.0,1.0,270.0
4,2020,1,1,6,1,2020-01-06,DL,LAS,NV,Nevada,...,0.0,0.0,-1.0,1409.0,-14.0,0.0,0.0,0.0,1.0,368.0

In [22]:
df_2020.tail()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,...,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,CANCELLED,FLIGHTS,DISTANCE
2253699,2020,4,12,23,3,2020-12-23,WN,MKE,WI,Wisconsin,...,0.0,0.0,-1.0,1638.0,-12.0,0.0,0.0,0.0,1.0,850.0
2253700,2020,4,12,23,3,2020-12-23,WN,MKE,WI,Wisconsin,...,21.0,1.0,1.0,1502.0,2.0,2.0,0.0,0.0,1.0,634.0
2253701,2020,4,12,23,3,2020-12-23,WN,MKE,WI,Wisconsin,...,39.0,1.0,2.0,2025.0,25.0,25.0,1.0,0.0,1.0,896.0
2253702,2020,4,12,23,3,2020-12-23,WN,MKE,WI,Wisconsin,...,0.0,0.0,-1.0,714.0,-36.0,0.0,0.0,0.0,1.0,896.0
2253703,2020,4,12,23,3,2020-12-23,WN,MKE,WI,Wisconsin,...,0.0,0.0,-1.0,744.0,-26.0,0.0,0.0,0.0,1.0,1004.0

In [43]:
#df.to_csv('df_final.csv', index= False)

In [44]:
#df_jan2020.to_csv('df_feb2021.csv', index = False)

In [45]:
df_2020.shape

(2253704, 26)

In [29]:
df_2020.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,OP_UNIQUE_CARRIER,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST,DEST_STATE_ABR,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,CANCELLED,FLIGHTS,DISTANCE
0,2020,1,1,6,1,2020-01-06,DL,SFO,CA,California,DTW,MI,Michigan,2210,2205.0,-5.0,0.0,0.0,-1.0,513.0,-24.0,0.0,0.0,0.0,1.0,2079.0
1,2020,1,1,6,1,2020-01-06,DL,ATL,GA,Georgia,MSY,LA,Louisiana,858,853.0,-5.0,0.0,0.0,-1.0,921.0,-14.0,0.0,0.0,0.0,1.0,425.0
2,2020,1,1,6,1,2020-01-06,DL,MSY,LA,Louisiana,ATL,GA,Georgia,1035,1038.0,3.0,3.0,0.0,0.0,1259.0,-6.0,0.0,0.0,0.0,1.0,425.0
3,2020,1,1,6,1,2020-01-06,DL,ATL,GA,Georgia,JAX,FL,Florida,925,920.0,-5.0,0.0,0.0,-1.0,1021.0,-19.0,0.0,0.0,0.0,1.0,270.0
4,2020,1,1,6,1,2020-01-06,DL,LAS,NV,Nevada,SLC,UT,Utah,1200,1153.0,-7.0,0.0,0.0,-1.0,1409.0,-14.0,0.0,0.0,0.0,1.0,368.0

In [47]:
df_2020.shape

(2253704, 26)

In [48]:
df_2020.columns

Index(['YEAR', 'QUARTER', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'FL_DATE',
       'OP_UNIQUE_CARRIER', 'ORIGIN', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_NM',
       'DEST', 'DEST_STATE_ABR', 'DEST_STATE_NM', 'CRS_DEP_TIME', 'DEP_TIME',
       'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15', 'DEP_DELAY_GROUP',
       'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW', 'ARR_DEL15', 'CANCELLED',
       'FLIGHTS', 'DISTANCE'],
      dtype='object')

In [28]:
df_2020['ORIGIN'].nunique()

169

In [30]:
df_2020['DEST'].nunique()

169

In [33]:
df_2020.ORIGIN.value_counts()

ATL    176115
DEN    113102
DFW    108476
PHX     86528
LAX     73579
        ...
PSC        49
GRB        35
CRW        17
PHF        11
BTR         2
Name: ORIGIN, Length: 169, dtype: int64

In [34]:
df_2020.DEST.value_counts()

ATL    176020
DEN    113117
DFW    108387
PHX     86484
LAX     73653
        ...
PSC        50
GRB        34
CRW        16
PHF        11
BTR         2
Name: DEST, Length: 169, dtype: int64